body {
    margin: 0px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#h1 {
    margin-top: 0px;
    margin-bottom: 5rem;
}

.hero {
    background: #C85C8E;
    color: white;
    padding: 30px;

}



#input-el {
    box-sizing: content-box;
    width: 186px;
    height: 62px;
    border: 3px solid #85586F;
    border-radius: 6px;
    color: white;
    background: #C85C8E;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.main {
    background: #f4f4f4;
    padding: 24px;
}

.section {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.section2 {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
}
.section3 {
    background: white;
    padding: 15px;
}

.btn {
    background: white;
    padding: 7px 16px;
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    color: #3D3D3D;

;
}

.btn:hover{
    background-color:#439A97;
    cursor: pointer;
}

h3 {
  font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;

/* or 100% */
text-align: center;

color: #5A537B;
}


p {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

/* or 143% */
text-align: center;

color: #353535;
}